{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron" style="background-color: #ffffff;">

        <h1 class="display-4">What's this about?</h1>
        <p class="lead">This Django application is built for the Higher Institute of Computer Science which aims to
            digitize the authorization process that concern event on-campus.
        </p>
        <hr class="my-4">
        <p>Want to collaborate ? <a href="https://github.com/iitskouu/ISIAuth">Visit my Github Repo</a>.</p>
    </div>
        <div class="jumbotron" style=" position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://thumbs.dreamstime.com/b/abstract-iridescent-holographic-background-vector-mesh-gradient-abstract-calm-air-wallpaper-soft-pastel-multicolor-illustration-158963668.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
     -o-filter: blur(10px);
     -ms-filter: blur(10px);
     filter: blur(10px);
     z-index: -1;">
    </div>

{% endblock %}
