{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron" style="background-color: #F8F8F8;">
        <h1 class="display-4">What's this about?</h1>
        <p class="lead">This Django application is built for the Higher Institute of Computer Science which aims to
            digitize the authorization process that concern event on-campus.
        </p>
        <hr class="my-4">
        <p>Want to collaborate ? <a href="https://github.com/iitskouu/ISIAuth">Visit our Github Repo</a>.</p>
    </div>

{% endblock %}
