{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Request</th>
                <th>Title</th>
                <th>Status</th>

            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr class='clickable-row' data-href="{% url 'request_detail' request.pk %}">
                    <td class="align-middle">{{ request.owner }}</td>
                    <td class="align-middle">{{ request.title }}</td>
                    <td class="align-middle"><span class="badge badge-primary"
                                                   style="background-color: #007bff">{{ request.status }}</span></td>
                    <td><a href="{% url 'request_update' request.pk %}">Edit</a> |
                        <a href="{% url 'request_delete' request.pk %}">Delete</a></td>

                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="4">No event requests right now.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
