{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Request</th>
                <th>Subject</th>
                <th>Status</th>

            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                    <td class="align-middle">{{ request.owner }}</td>
                    <td class="align-middle">{{ request.title }}</td>
                    <td class="align-middle">{{ request.status }}</td>

                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="4">No event requests right now.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}